body{
    color: darkslategray;
    font-family: Arial;
    background-color: #ccdbde;
    
}

p{
    margin: 0 0 5px 0;
}

.contenedor{
    margin: 20px 10px 20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 30px 20px -15px rgb(0, 0, 0, 1);
    overflow: hidden;

    min-height: 592px;
    max-height: 592px;
}

.contenedorAvatar{
    text-align: right;
}

.noBorder{
    border: none;
}

.borderDarkgrey{
    border: darkgrey solid 1px;
    border-radius: 5px;
}
.padding5{
    padding: 3px;
}

.fa{
    margin: 5px ;
    opacity: 0.5;
}

.row-fluid{
    width: 100%;
}

.col{
    display: inline-block;
    margin: 0 5px 0 5px;
    vertical-align: top;
}

.col1{
    width: 10%;
}

.col2{
    width: 20%;
}

.col3{
    width: 30%;
}

.col3{
    width: 30%;
}

.col4{
    width: 40%;
}

.col5{
    width: 50%;
}

.col6{
    width: 60%;
}

.col6-5{
    width: 65%;
}

.col7{
    width: 70%;
}

.col7-4{
    width: 74%;
}

.col7-5{
    width: 75%;
}

.col8{
    width: 80%;
}

.col9{
    width: 90%;
}

.col10{
    width: 100%;
}


.botonIcon{
    cursor: pointer;
    text-align: center;
}

.contactImage{
    border-radius: 50%;
    padding: 10px 5px 10px 5px;
    width: 60px;
    height: 60px;
}

.contactImageDetalles{
    border-radius: 50%;
    padding: 10px 5px 10px 5px;
    width: 100px;
    height: 100px;
    margin-top: 35px;
    box-shadow: 0px 30px 100px 0px rgb(0, 0, 0, 1);
}


.descCont{
   margin: 0;
   border-bottom: darkgrey solid 1px;
   float: right;
}

.cantMensajes{
    background-color: #7b78bf;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    opacity: 0.5;    
}

.mensajeEst,.horaConect{
    font-size: 60%;
    opacity: 0.4;
    margin: 5px 0 5px 0;

}

.alinDesc{
    padding-top: 30px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
    margin-right: 0;
}

.margin0{
    margin: 0 !important;
}

.height100{
    height: 100px;
}

.height83{
    height: 83px;
}


.HeaderWrapper{
    border-bottom: darkgrey solid 1px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
}

.HeaderWrapper i,select{
    margin-right: 18px;
    cursor: pointer;
}

.chatContainer i,strong{
    cursor: pointer;
}

.ContactosWrapper{
    height: 495px;
    padding: 5px 0 5px 5px;
}

.ContactoWrapper{
    overflow: hidden;
}

.ContactoWrapper :hover{
    cursor: pointer;
}

.ChatWrapper{
    border-left: darkgrey solid 1px;
    min-height: 575px;
}

.DetallesWrapper{
    min-height: 575px;
    background-color: #7f7dc6;
    color: white;
    text-align: center;
}
.DetallesWrapper i{
    color: white;
}

.marginR20{
    margin-right: 20px;
}

#listaContactos{
    overflow-y: scroll;
    height: 100%;
    margin-top: 5px;
}

.areaChat{
    height: 430px;
    padding: 10px;
    border-bottom: darkgray 1px solid;
    overflow-y: scroll;
    font-size: small;
}

.areaWrite{
    background-color: #cdcdcd;
    height: 93px;
    padding: 30px 20px 20px 20px;
}

.chatContainer i{
    width: 2%;
}

.chatContainer button{
    width: 10%;
    color: #7f7dc6;
    border: none;
    background-color: white;
}

.inputChat{
    width: 80%;
    border:none;
}

.emotipo{
    cursor: pointer;
}

.logoChat{
    width: 30px;
    height: 30px;
    margin-bottom: -11px;
}

.controlVentana{
    float: left;
}

.opciones{
    float: right;
}

.nombreChat{
    color: #7f7dc6;
}

.chatContainer{
    border: solid 1px darkgray;
    padding: 2px;
    border-radius: 10px;
    background-color: white;
}

.mensajeChat{
    margin-top: 40px;
}

.textoMensaje{
    padding: 10px;
    background-color: #bfbfe4;
    border-radius: 0px 20px 20px 20px;
}

.estadoMensaje{
    float: right;
}

.estadoEspera{
    color:gray
}
.estadoOK{
    color:lime
}

.estadoMensaje i{
    margin: 0;
}

.imagenContactoChat {
    text-align: left;
}

.mensajeRecibido .imagenContactoChat  {
    float: right;
    text-align: right;
}

.mensajeRecibido .mensajeChat  {
    float: right;
}

.mensajeRecibido .mensajeBox{
    float: right;
}

.mensajeEnviado .mensajeBox{
    float: left;
}

.mensajeRecibido .textoMensaje{
    background-color: #7f7dc6;
    border-radius: 20px 0 20px 20px;
    color: white;
}

.mensajeRecibido .estadoMensaje{
    float: left;
}

.descripcionContactoDet{
    padding: 20px;
}